* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  min-height: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.header-logo {
  flex: none;
  margin-top: 4px;
  margin-left: 15%;
  margin-right: auto;
}

.header-text {
  flex: none;
  margin: auto;
  color: #5a5a5a;
}

#header-text-ABOUTUS,
#header-text-CONTACT,
#header-text-FAVORITES {
  font-size: 10pt;
  padding: 3px 20px;
  border-radius: 8px;
}

#header-text-ABOUTUS:hover,
#header-text-CONTACT:hover,
#header-text-FAVORITES:hover {
  background-color: #8c9de2;
  font-weight: 600;
  color: white;
}

.nav {
  min-height: 200px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-title {
  font-size: 36px;
  color: #5a5a5a;
}

.section {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding-top: 50px;
}
.buildings,
.around {
  padding: 5%;
  margin: 0 2%;
}
#buildings-circle {
  color: #8c9de2;
}
#around-circle {
  color: #ff7236;
}

.buildings-title {
  padding-top: 20px;
  font-size: 18pt;
  font-weight: 600;
  color: #8c9de2;
}

.around-title {
  padding-top: 20px;
  font-size: 18pt;
  font-weight: 600;
  color: #ff7236;
}

.buildings-comment,
.around-comment {
  padding-top: 20px;
  color: #5a5a5a;
}

.footer {
  display: flex;
  min-height: 50px;
  margin-top: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer-logo {
  margin-right: 20px;
}

#footer-text {
  font-size: 11.5px;
  color: #5a5a5a;
}
