asgiref==3.5.2
distlib==0.3.6
Django==2.1.5
django-ipware==4.0.2
filelock==3.8.0
greenlet==1.1.2
Pillow==9.3.0
pip==22.0.4
platformdirs==2.5.2
pytz==2022.5
setuptools==58.1.0
SQLAlchemy==1.4.32
sqlparse==0.4.3
tzdata==2022.4
virtualenv==20.16.5
boto3==1.26.22
django-storages==1.13.1