{{barrier_free_info}}
{%for reply in barrier_free_info.reply_set.all%}
{{reply}}
{%endfor%}
<form method="post" action="{%url 'common:reply_create' barrier_free_info.id%}">
{%csrf_token%}
{{reply_form}}


<input type="submit">
</form>
<button onclick="addCookie({{barrier_free_info.id}})">addcookie</button>
 <script>
     function setCookie(cookie_name, value, days) {
      var exdate = new Date();
      exdate.setDate(exdate.getDate() + days);
      // 설정 일수만큼 현재시간에 만료값으로 지정

      var cookie_value = escape(value) + ((days == null) ? '' : '; expires=' + exdate.toUTCString());
      document.cookie = cookie_name + '=' + cookie_value;
    }
    function getCookie(cookie_name) {
      var x, y;
      var val = document.cookie.split(';');

      for (var i = 0; i < val.length; i++) {
        x = val[i].substr(0, val[i].indexOf('='));
        y = val[i].substr(val[i].indexOf('=') + 1);
        x = x.replace(/^\s+|\s+$/g, ''); // 앞과 뒤의 공백 제거하기
        if (x == cookie_name) {
          return unescape(y); // unescape로 디코딩 후 값 리턴
        }
      }
    }
    function addCookie(id) {
          var items = getCookie('barrier_id'); // 이미 저장된 값을 쿠키에서 가져오기
      var maxItemNum = 5; // 최대 저장 가능한 아이템개수
      var expire = 7; // 쿠키값을 저장할 기간
      if (items) {
        var itemArray = items.split(",");
        if (items.indexOf(id) != -1) {
          // 이미 존재하는 경우 종료
          console.log('Already exists.');
        }
        else {
          // 새로운 값 저장 및 최대 개수 유지하기
          itemArray.unshift(id);
          if (itemArray.length > maxItemNum ) itemArray.length = 5;
          items = itemArray.join(',');
          setCookie('barrier_id', items, expire);
        }
      }
      else {
        // 신규 id값 저장하기
        setCookie('barrier_id', id, expire);
      }
    }
 </script>
