{{address}}
{{longitude}}
{{latitude}}

<form method="post" action="{% url 'common:location_create' %}">
{%csrf_token%}
<div>
    <input type="radio" name = {{barrier_form.is_elevator.name}} value="on">
    <input type="radio" name = {{barrier_form.is_elevator.name}} value="off" checked>
    <input type="file" name= {{barrier_form.elevator_img.name}}>
    {{barrier_form.elevator_img}}
</div>
<div>
    <input type="radio" name = {{barrier_form.is_ramp.name}} value="on">
    <input type="radio" name = {{barrier_form.is_ramp.name}} value="off" checked>
    <input type="radio" name = {{barrier_form.is_braille.name}} value="on">
    <input type="radio" name = {{barrier_form.is_braille.name}} value="off" checked>
    {{barrier_form.entrance_img}}
</div>



<input type="radio" name = {{barrier_form.is_accessible_toilet.name}} value="on">
<input type="radio" name = {{barrier_form.is_accessible_toilet.name}} value="off" checked>
{{barrier_form.toilet_img}}
{{barrier_form.parking_count}}
{{barrier_form.parking_img}}
{{barrier_form.detail}}
{{location_form.name}}
<input type="hidden" name="{{location_form.longitude.name}}" value="{{longitude}}">
<input type="hidden" name="{{location_form.latitude.name}}" value="{{latitude}}">
<input type="hidden" name="{{location_form.address.name}}" value="{{address}}">

 <!--
    <input type="hidden" name="address" value="{{address}}">
    <input type="hidden" name = "longitude"value="{{longitude}}">
    <input type="hidden" name = "latitude" value="{{latitude}}">
    <label for="name">장소명</label><input type="text" name="name">
    <input type="checkbox" name ="is_elevator">
    <input type="checkbox" name ="is_ramp">
    <input type="checkbox" name ="is_braille">
    <input type="checkbox" name ="is_accessible_toilet">
    <input type="number" name ="parking_count">
    <input type="textarea" name ="detail">
    <input type="file" name="elevator_img">
    <input type="file"  name="entrance_img">
    <input type="file" name="parking_img">
    <button type="submit">submit</button> -->
    <input type="submit">
</form>

