<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
    @import url("../static/admin/css/building_details.css");
    </style>
</head>
<body>
<div class="v62_325" id="building_list">
    <div class="v62_327"><span class="v62_328" id="building_list_item_building">건물별 보기</span></div>
    <div class="v62_329"><a href="/" class="v62_330" id="building_list_item_education">교육관</a></div>
    <div class="v62_331"><a href="/" class="v62_332" id="building_list_item_globalbrainhall">글로벌브레인홀</a></div>
    <div class="v62_333"><a href="/" class="v62_334" id="building_list_item_ground">대운동장</a></div>
    <div class="v62_335"><a href="/" class="v62_336" id="building_list_item_residencehall">레지던스홀</a></div>
    <div class="v62_337"><a href="/" class="v62_338" id="building_list_item_culture">문화관</a></div>
    <div class="v62_339"><a href="/" class="v62_340" id="building_list_item_future">미래관</a></div>
    <div class="v62_341"><a href="/" class="v62_342" id="building_list_item_whitehorse">백마관</a></div>
    <div class="v62_343"><a href="/" class="v62_344" id="building_list_item_bairdhall">베어드홀</a></div>
    <div class="v62_345"><a href="/" class="v62_346" id="building_list_item_venture">벤처기업중소센터</a></div>
    <div class="v62_347"><a href="/" class="v62_348" id="building_list_item_waterfall">분수대</a></div>
    <div class="v62_349"><a href="/" class="v62_350" id="building_list_item_gyeongsang">숭덕경상관</a></div>
    <div class="v62_351"><a href="/" class="v62_352" id="building_list_item_shinyang">신양관</a></div>
    <div class="v62_353"><a href="/" class="v62_354" id="building_list_item_ahneaktai">안익태기념관</a></div>
    <div class="v62_355"><a href="/" class="v62_356" id="building_list_item_research">연구관</a></div>
    <div class="v62_357"><a href="/" class="v62_358" id="building_list_item_westminsterhall">웨스트민스터홀</a></div>
    <div class="v62_359"><a href="/" class="v62_360" id="building_list_item_computersystem">전산관</a></div>
    <div class="v62_361"><a href="/" class="v62_362" id="building_list_item_it">정보과학관</a></div>
    <div class="v62_363"><a href="/" class="v62_364" id="building_list_item_chomansik">조만식기념관</a></div>
    <div class="v62_365"><a href="/" class="v62_366" id="building_list_item_library">중앙도서관</a></div>
    <div class="v62_367"><a href="/" class="v62_368" id="building_list_item_jinri">진리관</a></div>
    <div class="v62_369"><a href="/" class="v62_370" id="building_list_item_changshin">창신관</a></div>
    <div class="v62_371"><a href="/" class="v62_372" id="building_list_item_student">학생회관</a></div>
    <div class="v62_373"><a href="/" class="v62_374" id="building_list_item_museum">한국기독교박물관</a></div>
    <div class="v62_375"><a href="/" class="v62_376" id="building_list_item_hyeongnam">형남공학관</a></div>
</div>

<div class="v62_667">
    <div class="v62_669">
        <div class="v62_670"></div>
        <iconify-icon icon="bx:building" class="building" height="20"></iconify-icon>
    </div>
    <span class="v73_998">건물별 보기</span>
    <iconify-icon icon="clarity:star-line" class="v73_1002" height="22"></iconify-icon>
</div>

<div class="v283_2912" id="building_details_tab_menu_background">
    <div class="v283_2913" id="building_details_tab_menu">
        <span class="v283_2915" id="building_details_tab_menu_item_info">건물 정보</span>
        <span class="v283_2917" id="building_details_tab_menu_item_barrier_info">배리어프리 정보</span>
        <span class="v283_2919" id="building_details_tab_menu_item_community">커뮤니티</span>
<!--        <span class="v283_2921" id="building_details_menu_item_toilet">장애인 화장실</span>-->
<!--        <span class="v283_2923" id="building_details_menu_item_parking">장애인 전용 주차구역</span>-->
    </div>
    <div class="v283_2924 current" id="building_details_tab_menu_content_info">
        <div class="v414_1385" id="building_details_tab_menu_content_info_list_area">
            <div class="v414_1386" id="building_details_tab_menu_content_info_list_address">
                <span class="v414_1387">서울 동작구 사당로 36-1, 1, 2층 (우)07027</span>
                <iconify-icon icon="clarity:map-marker-line" class="v414_1393" id="address_icon" height="26"></iconify-icon>
            </div>
            <div class="v414_1397" id="building_details_tab_menu_content_info_list_isOpen">
                <div class="v414_1403">
                    <span class="v414_1402">영업중</span>
                    <span class="v414_1404">매일 11:00 ~ 22:00</span>
                </div>
                <iconify-icon  icon="carbon:time" class="v414_1398" id="isOpen_icon" height="26"></iconify-icon>
            </div>
            <div class="v414_1409" id="building_details_tab_menu_content_info_list_site">
                <iconify-icon icon="fontisto:world-o" class="v414_1410" id="site_icon" height="26"></iconify-icon>
                <span class="v414_1412">www.twosome.co.kr</span>
            </div>
            <div class="v414_1413" id="building_details_tab_menu_content_info_list_call">
                <iconify-icon icon="fluent:call-32-regular" class="v414_1414" id="call_icon" height="26"></iconify-icon>
                <span class="v414_1416">010-8425-0246</span>
            </div>
        </div>
    </div>
    <div class="v283_2924" id="building_details_tab_menu_content_barrier_info">
        <div class="floating_btn" id="barrier_info_floating_btn">
            <a href="javascript:barrier_openPop();">
                <iconify-icon icon="mingcute:quill-pen-line" height="36px"></iconify-icon>
                <span class="floating_btn_text">정보 등록</span>
            </a>
        </div>
        <div class="v414_1385" id="building_details_tab_menu_content_barrier_info_list_area">
            <div class="v414_3000" id="building_details_tab_menu_content_barrier_info_list_exit_area">
                <div class="v414_3513" id="building_details_tab_menu_content_barrier_info_list_exit_desc">
                    <div class="v459_3132" id="exit_desc_title">
                        <iconify-icon icon="clarity:talk-bubbles-line" height="24px" class="v459_3133"></iconify-icon>
                        <span class="v459_3135">출입구 정보</span>
                    </div>
                    <div class="v414_3003">
                        <div class="v414_3001">글의 제목이 들어갑니다.글의 제목이 들어갑니다.글의 제목이 들어갑니다.</div>
                        <div class="v414_3002">글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.글의 내용이 들어갑니다.</div>
                    </div>
                </div>
                <div class="v414_1513" id="building_details_tab_menu_content_barrier_info_list_exit_pic">
                    <div class="v459_1132" id="exit_pic_title">
                        <iconify-icon icon="icon-park-outline:pic" height="24px" class="v459_1133"></iconify-icon>
                        <span class="v459_1135">출입구 사진</span>
                    </div>
                    <div class="v414_1514" id="exit_pic_rectangle">
                        <img src="../static/admin/img/no-image.svg" class="v414_1517">
                    </div>
                    <div class="v414_1515" id="exit_pic_left_btn">
                        <iconify-icon icon="ci:circle-chevron-left" height="36" class="v414_1516"></iconify-icon>
                    </div>
                    <div class="v414_1519" id="exit_pic_right_btn">
                        <iconify-icon icon="ci:circle-chevron-right" height="36" class="v414_1516"></iconify-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup_layer" id="barrier_popup_layer" style="display: none;">
          <div class="popup_box">
              <div id="barrier_popup_close_btn" style="height: 10px; width: 375px; float: top;">
                <a href="javascript:barrier_closePop();">
                    <img src="../static/admin/img/ic_close.svg" class="m_header-banner-close" width="36px" height="36px">
                </a>
              </div>
              <!--팝업 컨텐츠 영역-->
              <div class="popup_cont">
                  <h2> 배리어프리 정보 등록하기</h2>
                  <div id="barrier_write_area">
                    <form enctype="multipart/form-data" action="#" method="post" name="community_board">
                        <div style="display: flex; flex-direction: row; justify-content: left; align-items: center;">
                            <select name="barrier_category" style="padding:7px; margin-bottom:3px; margin-right:3px;">
                                <option value="출입구">출입구</option>
                                <option value="승강기">승강기</option>
                                <option value="화장실">화장실</option>
                                <option value="기타">기타</option>
                            </select>
                            <div id="barrier_in_author" style="display:inline-block; margin-right:3px;">
                                <textarea name="title" id="barrier_author" rows="1" cols="10" placeholder="작성자" maxlength="10" style="padding:7px;" required></textarea>
                            </div>
                            <div id="barrier_in_password" style="display:inline-block;">
                                <textarea name="title" id="barrier_password" rows="1" cols="8" placeholder="비밀번호" maxlength="8" style="padding:7px;" required></textarea>
                            </div>
                        </div>

                        <div id="barrier_in_title">
                            <textarea name="title" id="barrier_utitle" rows="1" cols="55" placeholder="제목" maxlength="100" style="padding:7px;" required></textarea>
                        </div>

                        <div id="barrier_in_content">
                            <textarea name="content" id="barrier_ucontent" rows="10" cols="55" placeholder="내용" style="padding:7px;" required></textarea>
                        </div>

                        <input type="file" name="SelectFile"/>

                        <div class="bt_se">
                            <button type="submit" class="popup_btn" style="float: bottom; margin-top: 100px;">등록</button>
                        </div>
                    </form>
                </div>
              </div>
          </div>
        </div>
    </div>
    <div class="v283_2924" id="building_details_tab_menu_content_community">
        <div class="floating_btn" id="community_floating_btn">
            <a href="javascript:community_openPop();">
                <iconify-icon icon="mingcute:quill-pen-line" height="36px"></iconify-icon>
                <span class="floating_btn_text">글쓰기</span>
            </a>
        </div>
        <div class="v414_1385" id="building_details_tab_menu_content_community_list_area">
            <h1 class="board_title" id="free_board_title">자유게시판</h1>
            <table class="v461_1282" id="free_board">
                <thead class="thead">
                    <tr class="tr">
                        <th class="th-1">번호</th>
                        <th class="th-2">제목</th>
                        <th class="th-3">글쓴이</th>
                        <th class="th-4">작성일</th>
                    </tr>
                </thead>
                <script>

                </script>
                <tbody>
                    <tr>
                      <td>00</td>
                      <td><a href="#">혹시 투썸에서 UI/UX 스터디 하실 분들 계신가요?</a></td>
                      <td>홍길동</td>
                      <td>2022.11.24</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="popup_layer" id="community_popup_layer" style="display: none;">
          <div class="popup_box">
              <div id="community_popup_close_btn" style="height: 10px; width: 375px; float: top;">
                <a href="javascript:community_closePop();">
                    <img src="../static/admin/img/ic_close.svg" class="m_header-banner-close" width="36px" height="36px">
                </a>
              </div>
              <!--팝업 컨텐츠 영역-->
              <div class="popup_cont">
                  <h2> 글 작성하기</h2>
                  <div id="community_write_area">
                    <form enctype="multipart/form-data" action="#" method="post" name="community_board">

                        <div style="display: flex; flex-direction: row; justify-content: left; align-items: center;">
                            <div id="community_in_author" style="display:inline-block; margin-right:3px;">
                                <textarea name="title" id="community_author" rows="1" cols="10" placeholder="작성자" maxlength="10" style="padding:7px;" required></textarea>
                            </div>
                            <div id="community_in_password" style="display:inline-block;">
                                <textarea name="title" id="community_password" rows="1" cols="8" placeholder="비밀번호" maxlength="8" style="padding:7px;" required></textarea>
                            </div>
                        </div>


                        <div id="in_title">
                            <textarea name="title" id="community_utitle" rows="1" cols="55" placeholder="제목" maxlength="100" style="padding:7px;" required></textarea>
                        </div>

                        <div class="wi_line"></div>
                        <div id="in_content">
                            <textarea name="content" id="community_ucontent" rows="10" cols="55" placeholder="내용" style="padding:7px;" required></textarea>
                        </div>

                        <input type="file" name="SelectFile" />

                        <div class="bt_se">
                            <button type="submit" class="popup_btn" style="float: bottom; margin-top: 100px;">등록</button>
                        </div>
                    </form>
                </div>
              </div>
          </div>
        </div>

    </div>
</div>



</body>
</html>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<script>
<!--    https://homzzang.com/b/js-1317-->
    document.getElementById('building_details_tab_menu_item_info').addEventListener('click', function () {
        document.getElementById('building_details_tab_menu_item_info').style.backgroundColor = "#ffffff";
        document.getElementById('building_details_tab_menu_item_barrier_info').style.background = "none";
        document.getElementById('building_details_tab_menu_item_community').style.background = "none";

        document.getElementById('building_details_tab_menu_content_barrier_info').classList.remove('current');
        document.getElementById('building_details_tab_menu_content_community').classList.remove('current');
        document.getElementById('building_details_tab_menu_content_info').classList.add('current');
    });
    document.getElementById('building_details_tab_menu_item_barrier_info').addEventListener('click', function () {
        document.getElementById('building_details_tab_menu_item_barrier_info').style.backgroundColor = "#ffffff";
        document.getElementById('building_details_tab_menu_item_info').style.background = "none";
        document.getElementById('building_details_tab_menu_item_community').style.background = "none";

        document.getElementById('building_details_tab_menu_content_info').classList.remove('current');
        document.getElementById('building_details_tab_menu_content_community').classList.remove('current');
        document.getElementById('building_details_tab_menu_content_barrier_info').classList.add('current');
    });
    document.getElementById('building_details_tab_menu_item_community').addEventListener('click', function () {
        document.getElementById('building_details_tab_menu_item_community').style.backgroundColor = "#ffffff";
        document.getElementById('building_details_tab_menu_item_info').style.background = "none";
        document.getElementById('building_details_tab_menu_item_barrier_info').style.background = "none";

        document.getElementById('building_details_tab_menu_content_info').classList.remove('current');
        document.getElementById('building_details_tab_menu_content_barrier_info').classList.remove('current');
        document.getElementById('building_details_tab_menu_content_community').classList.add('current');
    });
</script>
<script>
<!--https://simbasimba.tistory.com/11-->
<!--https://gopae02.tistory.com/92-->
<!--    function ViewLayer(){-->
<!--        if(document.getElementById("Pop").style.display=="none"){-->
<!--           document.getElementById("Pop").style.display='inline'-->
<!--        }else{-->
<!--           document.getElementById("Pop").style.display='none'-->
<!--        }-->
<!--     }-->

    function barrier_openPop() {
        document.getElementById("barrier_popup_layer").style.display = "block";

    }

    function barrier_closePop() {
        document.getElementById("barrier_popup_layer").style.display = "none";
    }

    function community_openPop() {
        document.getElementById("community_popup_layer").style.display = "block";

    }

    function community_closePop() {
        document.getElementById("community_popup_layer").style.display = "none";
    }
</script>

