<!DOCTYPE html>
{%load static%}
<html lang="ko">
  <head>
    <title>건물별 보기 main</title>
    <link href="{% static 'admin/css/06-main.css' %}" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/29749be41c.js"
      crossorigin="anonymous"
    ></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div id="wrap" class="wrap">
      <!-- HEADER 영역 -->
      <header class="header">
        <a href="/" class="header-logo">
          <img
            src="{% static 'admin/img/Logo-purple.png' %}"
            alt="SSU-Barrier-Free-Map"
            width="132px"
            height="39px"
          />
        </a>
        <div class="header-text">
          <a href="02-about-us.html" id="header-text-ABOUTUS">ABOUT US</a>
          <a href="03-contact.html" id="header-text-CONTACT">CONTACT</a>
          <a href="/" id="header-text-FAVORITES">즐겨찾는 장소</a>
        </div>
      </header>

      <!-- NAV 영역 -->
      <div class="nav">
        <h1 class="nav-title">SOONGSIL BARRIER-FREE MAP</h1>
      </div>

      <div class="section">
        <div class="buildings">
          <a href="{%url 'campus:index'%}">
            <div id="buildings-circle">
              <i class="fa-regular fa-building" style="font-size: 90px"></i>
            </div>
            <div class="buildings-title">건물별 보기</div>
            <div class="buildings-comment">
              숭실대학교 내부 건물의<br />배리어프리 정보를 제공합니다.
            </div>
          </a>
        </div>

        <div class="around">
          <a href="{% url 'restaurant:marker' %}">
            <div id="around-circle">
              <i class="fa-solid fa-utensils" style="font-size: 90px"></i>
            </div>
            <div class="around-title">내 주변 보기</div>
            <div class="around-comment">
              숭실대학교 근처 식당 등의 시설의<br />
              배리어프리 정보를 제공합니다.
            </div>
          </a>
        </div>
      </div>

      <footer class="footer">
        <img
          id="footer-logo"
          src="{% static 'admin/img/Logo-purple.png' %}"
          alt="SSU-Barrier-Free-Map"
          width="100px"
          height="31px"
        />
        <p id="footer-text">
          SSU-BARRIER-FREE-MAP @ 오픈소스기반기초설계 12조 김하빈, 박순용,
          서민비, 장우영
        </p>
      </footer>
    </div>
  </body>
</html>
