<!DOCTYPE html>
{%load static%}
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link href="{% static 'admin/css/00-orange-main.css' %}" rel="stylesheet" />
</head>
<body>
<!-- HEADER 영역 -->
<footer class="footer">
    <img
      id="footer-logo"
      src="{% static 'admin/img/Logo-purple.png' %}"
      alt="SSU-Barrier-Free-Map"
      width="100px"
      height="31px"
    />
    <p id="footer-text">
      SSU-BARRIER-FREE-MAP @ 오픈소스기반기초설계 12조 김하빈, 박순용,
      서민비, 장우영
    </p>
  </footer>
</body>
</html>