<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
</head>
<body>
<div class="v24_766" id="middle_area">
  <div class="v24_767" id="restaurant_area">
    <span class="v24_768">식당가 보기</span>
    <span class="v24_769">Lorem Ipsum has been the
    industry's standard dummy text
    ever since the 1500s, when an
    unknown printer took a galley of
    type and scrambled it to make
    a type specimen book.</span>
    <div class="v24_770" id="restaurant_icon_area">
      <div class="v24_773" id="restaurant_circle"></div>
      <div class="v24_771"  id="restaurant_icon_box">
        <iconify-icon icon="fluent:food-24-filled" id="restaurant_icon" class="restaurant" height="96"></iconify-icon>
      </div>
    </div>
  </div>
  <div class="v24_774">
    <span class="v24_775">건물별 보기</span>
    <span class="v24_776">Lorem Ipsum has been the
      industry's standard dummy text
      ever since the 1500s, when an
      unknown printer took a galley of
      type and scrambled it to make
      a type specimen book.</span>
      <div class="v24_781" id="building_icon_area">
        <div class="v24_785" id="building_circle" onmouseover="this.style.background='rgba(140,157,226,1)';" onmouseout="this.style.background='none';"></div>
        <div class="v24_782" id="building_icon_box">
          <iconify-icon icon="bx:building" id="building_icon" class="building" height="96" onmouseover="this.style.color='rgba(255,255,255,1)';" onmouseout="this.style.color='rgba(140,157,226,1)';"></iconify-icon>
        </div>
      </div>
  </div>
</div>
</body>
</html>
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<script>
  document.getElementById('restaurant_circle').addEventListener('mouseover', function () {
        document.getElementById('restaurant_circle').style.background = "rgba(255,114,54,1)";
        document.getElementById('restaurant_icon').style.color="rgba(255,255,255,1)";
    });
  document.getElementById('restaurant_circle').addEventListener('mouseout', function () {
        document.getElementById('restaurant_circle').style.background = "none";
        document.getElementById('restaurant_icon').style.color="rgba(255,114,54,1)";
    });
    document.getElementById('restaurant_icon').addEventListener('mouseover', function () {
        document.getElementById('restaurant_circle').style.background = "rgba(255,114,54,1)";
        document.getElementById('restaurant_icon').style.color="rgba(255,255,255,1)";
    });
  document.getElementById('restaurant_icon').addEventListener('mouseout', function () {
        document.getElementById('restaurant_circle').style.background = "none";
        document.getElementById('restaurant_icon').style.color="rgba(255,114,54,1)";
    });

      document.getElementById('building_circle').addEventListener('mouseover', function () {
        document.getElementById('building_circle').style.background = "rgba(140,157,226,1)";
        document.getElementById('building_icon').style.color="rgba(255,255,255,1)";
    });
  document.getElementById('building_circle').addEventListener('mouseout', function () {
        document.getElementById('building_circle').style.background = "none";
        document.getElementById('building_icon').style.color="rgba(140,157,226,1)";
    });
    document.getElementById('building_icon').addEventListener('mouseover', function () {
        document.getElementById('building_circle').style.background = "rgba(140,157,226,1)";
        document.getElementById('building_icon').style.color="rgba(255,255,255,1)";
    });
  document.getElementById('building_icon').addEventListener('mouseout', function () {
        document.getElementById('building_circle').style.background = "none";
        document.getElementById('building_icon').style.color="rgba(140,157,226,1)";
    });
</script>
<style type="text/css">
    @import url("../static/admin/css/middle.css");
</style>
