* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  min-height: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.header-logo {
  flex: none;
  margin-top: 4px;
  margin-left: 15%;
  margin-right: auto;
}

.header-text {
  flex: none;
  margin: auto;
  color: #5a5a5a;
}

#header-text-ABOUTUS,
#header-text-CONTACT,
#header-text-FAVORITES {
  font-size: 10pt;
  padding: 3px 20px;
  border-radius: 8px;
}

#header-text-ABOUTUS:hover,
#header-text-CONTACT:hover,
#header-text-FAVORITES:hover {
  background-color: #8c9de2;
  font-weight: 600;
  color: white;
}

.nav {
  min-height: 200px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-title {
  font-size: 36px;
  color: #5a5a5a;
}

.section {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding: 50px 0px;
  margin-top: 2px;
  overflow: scroll;
}

.section::-webkit-scrollbar {
  display: none;
}

.favorites-table {
  border-collapse: collapse;
  margin: 0 5%;
}

.favorites-th {
  background-color: #fafafa;
}

.location-name-td,
.location-address-td {
  text-align: start;
  padding: 10px 10px;
}

.location-favorite-td {
  text-align: center;
  padding: 10px 10px;
}

.location-favorite-td > i {
  color: #8c9de2;
}

.favorites-tr:hover {
  background-color: #e7edfb;
}

.footer {
  display: flex;
  min-height: 50px;
  margin-top: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer-logo {
  margin-right: 20px;
}

#footer-text {
  font-size: 11.5px;
  color: #5a5a5a;
}
