* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v18_105 {
  width: 100%;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_106 {
  width: 334px;
  color: rgba(90,90,90,1);
  position: absolute;
  top: 23px;
  left: 553px;
  font-family: Inter;
  font-weight: Light;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}