* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v18_76 {
  width: 100%;
  height: 258px;
  background: rgba(255,255,255,1);
  padding: 100px 38px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_185 {
  width: 740px;
  color: rgba(90,90,90,1);
  position: absolute;
  top: 176px;
  left: 303px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v24_186 {
  width: 159px;
  height: 142px;
  background: url("../static/admin/img/logo1_blue.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 980px;
  overflow: hidden;
}